*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  background-color:#FFF0F6;
  padding:16px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.card{
  border-radius:12px;
  padding:20px;
  background-color:#FCE4EC;
  border:2px solid #F48FB1;
  width:100%;
  max-width:300px;
  transition:all 0.15s ease;
}

.card:hover{
  box-shadow:1px 1px 8px #f48fb1;
  transform:translateY(-4px);
} 

.display{
  display:flex;
  letter-spacing:0.5px;
  color:#D81B60;
  height:80px;
  width:100%;
  background-color:#FFFFFF;
  border:1.5px solid #F48FB1;
  border-radius:12px;
  text-align:right;
  text-align: end;
  font-family: 'Poppins';
  font-weight:600;
  font-size:32px;
  padding:0 16px 12px 16px;
  justify-content:flex-end;
  align-items:end;
}

.BUTTONS{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ubtn{
  margin:12px;
  height:54px;
  width:54px;
  border-radius:50%;
  background-color:#fce4ec;
  border: 1.5px solid #F48FB1;
  color:#D81B60;
  font-family:'Poppins';
  font-weight:500;
  font-size:14px;
  transition:all 0.15s ease;
}

.ubtn:active{
  transform:scale(0.93);
}

.ubtn:hover{
  cursor:pointer;
  background-color:#f8bbd0;
}

.nobtn{
  margin:12px;
  height:54px;
  width:54px;
  border-radius:50%;
  background-color:#ffdde9;
  border:1.5px solid #F48FB1;
  box-shadow:3px 3px 0px #f48fb1;
  color:#D81B60;
  font-family:'Poppins';
  font-weight:500px;
  font-size:18px;
  transition: all 0.15s ease;
}

.nobtn:hover{
  cursor:pointer;
  background-color:#f8bbd0;
}

.nobtn:active{
  transform:scale(0.93);
  background-color:#f48fb1;

}

.ebtn{
  margin:12px;
  height:54px;
  width:54px;
  border-radius:50%;
  background-color:#e91e63;
  color:#ffffff;
  font-family:'Poppins';
  font-weight:500px;
  font-size:18px;
  border:none;
  width:120px;
  border-radius:27px;
  transition:all 0.15s ease;

}

.ebtn:active{
  transform:scale(0.93);
  cursor:pointer;
}

.obtn{
  margin:12px;
  height:54px;
  width:54px;
  border-radius:50%;
  background-color:#f06292;
  border:1.5px solid #f06292;
  color:#ffffff;
  font-family:'Poppins';
  font-weight:600px;
  font-size:20px;
  transition: all 0.15s ease;
}

.obtn:hover{
  cursor:pointer;
  background-color: #f33c79;
}

.obtn:active{
  transform:scale(0.93);
  background-color:#e91e63;
}
